.mainmenu{
  display: flex;
  justify-content: space-between;
  display: -webkit-flex;
  display: -ms-flexbox;
  padding: 20px;
  }
  
  .mainmenu .logoymenu a{
    text-decoration: none;
    margin: 15px;
    color: black;
  }

#login {  
    width: 90px;
    text-align: center;
    border: solid 1px black;
    margin-right: 40px;
    padding: 10px;
  
      
}